* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* vh and vw  */
/* .parent{
    height: 65vh;
    width: 65vw;
    background-color: crimson;
}

.child{
    height: 50vh;
    width: 50vw;
    background-color: blue;
} */

/* .box1{
    height: 30vmax;
    width: 30vmax;
    background-color: blue;
}

.box2{
    height: 30vmin;
    width: 30vmin;
    background-color: rgb(124, 124, 231);
} */

/* .parent{
    font-size: 20px;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1em;
}

p{
    font-size: 0.5em;
} */

#parent{
    max-height: 100%;
    width: 100%;
    background-color: rgb(5, 5, 84);
}

.box{
    height: 100px;
    width: 100px;
    background-color: beige;
    border: 2px solid black;
}